.header{
  display: flex;
  justify-content: space-between;
  padding: 2% 1%;
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 90%;
}
a{
  text-decoration: none;
  color: #fff ;
}

.active{
  color: red;
}
ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav{
  justify-content: space-between;
  width: 50vw;
}
.nav li{
  margin: 0;
  padding: 0;
}
.logo{
  font-size: 25px;
}
@media only screen and (max-width: 850px) {
  .nav{
    display: none;
  }
  .header{
    justify-content: center;
  }
}